@charset "UTF-8";
/* CSS Document */

#tabs .ui-tabs-nav a:hover {cursor:pointer;}
#tabs .container {padding:0 0.5em 0.5em;}
table caption {display:none;}

.info {
	color:#666;
	font-size:0.85em; font-style:italic;
}