/**
 * module_welcome.css
  *
 * @package	Iconito 2010
 * @cdate 15.09.2010
 * @mdate 15.09.2010
 * @author	Stephane Holtz <sholtz@cap-tic.fr>
 */

div.welcome {
	}
	
div.welcome p {
	margin-top: 0px;
	}
	
div.welcome .column1 {
    position: relative;
	display: inline-block;
	float: left;
	width: 48%;
	padding: 12px;
	}
	
div.welcome .column2 {
    position: relative;
	display: inline-block;
	float: right;
	width: 48%;
	padding: 6px;
	}
	
div.welcome .welcome_hr {
	background: url('../../../themes/default/images/thm_welcome_hr.png') no-repeat center center;
	height: 30px;
	}
	
/* PAGES STATIQUES BLOG */
.welcome_pages {
	margin-bottom: 12px;
	}

.welcome_pages .bpage_item {
	margin-bottom: 16px;
	}
		
.welcome_pages .bpage_title {
	font-size: 180%;
	font-weight: bold;
	margin-bottom: 6px;
	}

.welcome_pages .bpage_content {
	font-size: 120%;
	}
.welcome_pages .bpage_item p.suite {
}
.welcome_pages .bpage_item p.suite a {
	padding-left: 20px;
	background: transparent url(../images/suite.gif) no-repeat left top;
	}

/* ARTICLES BLOG */
.welcome_articles {
	margin-bottom: 12px;
/*	background: #f0f4f0;
	border: solid 1px #ddd;*/
	padding: 8px;
/*	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	behavior: url(/htc/PIE.htc);*/
	}

.articles_title {
	font-size: 160%;
/*	text-transform: uppercase;*/
	font-weight: bold;
	margin-bottom: 12px;
	color: #dd8210;
	}

.welcome_articles .bart_item {
	margin-bottom: 16px;
	}
		
.welcome_articles .bart_title {
	font-size: 140%;
	line-height: 110%;
	margin-bottom: 8px;
	font-weight: bold;
	color: #354e81;
	}
		
.welcome_articles .bart_title a {
	color: #354e81;
	}
		
.welcome_articles .bart_date {
	font-size: 90%;
	color:#777;
	}
	
.welcome_articles .bart_chapo {
	font-size: 110%;
	}



/* BLOC PHOTO */
.welcome_photos {
	margin:22px 8px 12px 0; padding:10px 0;
	-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
	background:#DD8210;
}
	

	
/* @NOTE : slider */
.slideshow {
	position:relative; 
	width: 380px;
	height: 240px;
	overflow: auto;
	margin:0 auto;
	background:#fff;
}

.slideshow .slide {
	position: absolute; 
	top: 0; 
	left: 0;
	margin:0; padding:0;
}

.slideshow .slide li {
	float:left;
	width: 380px; 
	height: 220px;
}
.slideshow .slide .legend {
	padding:0 5px;
	background:#fff;
	text-align:center; line-height:18px;
}

/* @NOTE : slider => navigation */
.slider-nav > a {
	position: absolute;
	bottom: 15px;
	z-index: 15;
}

#sliderprev { left: -7px; }
#slidernext { right: -7px; }
#slidercontrol {position:absolute; bottom:15px; left:38px;}
/* @NOTE : slider => pagination */
#sliderposition {
	position: absolute;
	bottom:22px;
	z-index: 12;
	left: 0;
	right: 0;
	text-align: center;
	margin:0; padding:0;
	list-style:none;
}

#sliderposition li {
	display: inline-block;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #6c695a;
	border: 2px solid #fff;
	color: #6c695a;
	font-size: 1px;
}
#sliderposition li.on {
	color: #23201e;
	background: #23201e;
}

	
/* BOUTON BLOGS */
.welcome_blogs a {
	width: 438px;
	height: 52px;
	background: url('../../../themes/default/images/thm_welcome_blogs.png') top left no-repeat;
	margin-bottom: 24px;
	font-size: 180%;
	text-align: center;
	line-height: 240%;
	}
	
.welcome_blogsloader {
	display: block;
    }


/* LISTE DES ECOLES */
.welcome_ecoles {
	width: 420px;
	margin-bottom: 12px;
/*	background: #fcfdf1;*/
	border: solid 1px #9dd3e0;
	padding: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	/*behavior: url(/htc/PIE.htc);*/
	}

.welcome_ecoles ul {
	margin: 0;
	padding-left: 12px;
	list-style-type: disc;
	list-style-position: outside;
	}

.welcome_ecoles ul li {
	font-size: 110%;
	}

.welcome_ecoles h3 {
    margin-bottom:0.3em;
	list-style-type: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #dd8210;
	}

.welcome_ecoles h4 {margin:1em 0 0.3em;}

.welcome_ecoles hr {
    margin-top:1em; border:0;
    width:70%; height:1px;
    background:#9dd3e0;
}

.ecoles_title {
	font-size: 120%;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 12px;
	}