
body {
    margin:0; padding:0;
    background:#F0F0F0; color:#666;
    font-size:13px;
}

body, input, textarea, input[type="password"], input[type="text"] {
    font-family: 'DroidSans',Lucida grande,Arial,Helvetica,sans-serif;
    letter-spacing: 0;
    text-align: justify;
}

/* Global */
div.help {
    margin-top: 30px;
}
a:link {color:#666;}
a:visited {color:#777;}
a:hover, a:focus {color:#333; text-decoration:none;}
a:active {color:#000;}
.mesgError {
	margin:10px 0 15px; padding:5px 5px 5px 28px; border:1px solid #f00;
	-webkit-border-radius:10px; -moz-border-radius:10px; -o-border-radius:10px; border-radius:10px;
	font-weight:bold;
	background:url(../../../themes/default/images/button-action/action_warning.png) no-repeat 5px 50% #fff; color:#f00;
	list-style:none;
}
.mesgError span {font-weight:normal;}
.button-back {
    float:left;
    font-size:0.85em; line-height:2em;
}
.normal {
	font-size:1em; font-weight:normal;
}
h2 {margin-bottom:20px;}
/* End Global */


/* Content */
#content {
    margin:90px auto; padding:15px 40px 30px;
    -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
    width:330px;
    background:#fff;
}
.logo img {width:100%;}
/* End Content */


/* Forms */
form input[type="text"], form input[type="url"], form input[type="email"], form input[type="date"], input[type="password"], form textarea {
    border:1px solid #DCDCDC;
    -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;
    background:#f5f5f5; color:#333;
    margin:0; padding:3px;
    width:56%;
    font-size:1em;
}
form input[type="text"]:hover, form input[type="url"]:hover, form input[type="email"]:hover, form input[type="date"]:hover, input[type="password"]:hover, form textarea:hover {
    border: 1px solid #BAD521;
    -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;
}
.field {
	clear:both;
}
.field + .field {margin-top:10px;}
label {
	float:left;
	padding:3px 3px 3px 0;
	width:40%;
	color:#333;
}
.input {margin:0;}
.submit {
    text-align:right;
    margin-top:15px;
}
.submit input {
    margin:0; border:1px solid #f5f5f5;
}
.submit input[type="submit"] {
    padding:3px 8px;
    -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
    background:#0097BA; color:#fff;
}
.submit input:hover {
    cursor:pointer;
}
.submit input[type="submit"]:hover, .submit input[type="submit"]:focus {
    border-color:#DCDCDC; color:#333;
	background:#f5f5f5;
}
/* End Forms */


/* Header */
#header {
    height:25px;
    background:url(../../themes/default/images/thm_page_HM.png) repeat 0 -20px #0097BA;
    border-bottom:2px solid #ddd;
}
/* End Header */


/* Footer */
#footer {
    position:absolute; left:0; bottom:0;
    margin:5px 0;
    width:100%;
    text-align:center;
}
/* End Footer */

