<div id="apropos" class="dashboard">

<h1>Mentions &amp; cr&eacute;dits</h1>

<p>Bienvenue sur la page tant appr&eacute;ci&eacute;e des
mentions l&eacute;gales et des cr&eacute;dits !</p>

<p>ICONITO Ecole Num&eacute;rique est un outil libre g&eacute;r&eacute; par
CAP-TIC.</p>

<p>ICONITO Ecole Numérique est un Espace Numérique de Travail (ENT) sous licence libre, spécifiquement conçu pour les acteurs éducatifs du 1er degré. Conforme aux spécifications du SDET, ICONITO Ecole Numérique offre des outils de communication, des services numériques et l'accès à des ressources pédagogiques (catalogue de ressources éditoriales Coréprim, édité par Canopé - CRDP d'Aix-Marseille).</p>
    <p>Afin de comprendre à quoi peut bien servir ICONITO Ecole Numérique, le mieux est encore d'en <a href="http://www.iconito.fr/telechargement/documentation/62-utilisation-ecole-numerique/304-releves-dusages-iconito-ecole-numerique">découvrir les utilisations dans les écoles</a>.</p>

<h2>Guide utilisateur Iconito Ecole Num&eacute;rique</h2>

<ul>
	<li><a href="http://www.iconito.fr/telechargement/documentation/62-utilisation-ecole-numerique" target="_blank">
        Documentation ICONITO</a> - <a href="http://www.iconito.fr/telechargement/documentation/62-utilisation-ecole-numerique/303-guide-utilisateur-iconito-ecole-numerique-2014)" target="_blank">Télécharger la dernière version du <strong>guide utilisateur</strong></a>.
	</li>	
</ul>

<h2>Plus d'informations sur ICONITO</h2>

<ul>
	<li><a href="http://www.iconito.fr" target="_blank">iconito.fr</a> &mdash;
	Le site officiel d'ICONITO Ecole Num&eacute;rique et des autres
	logiciels libres de la gamme.</li>
</ul>


<h2>Sous le capot</h2>

ICONITO utilise les technologies ou les produits suivants:
<p>

<ul>
	<li><a href="http://www.php.net" target="_new">PHP</a> et <a
		href="http://www.mysql.org" target="_new">mySQL</a> &mdash; Les
	technologies de base d'ICONITO</li>

	<li><a href="http://svn.copix.org/browser/trunk" target="_new">Copix</a> &mdash;
	Le framework de d&eacute;veloppement d'ICONITO, int&eacute;grant
	notamment le mod&egrave;le MVC, l'internationnalisation, les templates,
	les sch&eacute;mas XML de base de donn&eacute;es, etc.</li>

	<li><a href="http://www.alsacreations.fr/dewplayer" target="_new">DewPlayer</a>
	&mdash; Player MP3 des sons dans les blogs, de nos amis
	d'Alsacr&eacute;ations</li>

	<li><a href="http://www.alsacreations.fr/dewslider" target="_new">DewSlider</a>
	&mdash; Diaporama d'images, en Flash, des m&ecirc;mes
	Alsacr&eacute;ations</li>

	<li><a href="http://ckeditor.com" target="_new">CKeditor</a>
	&mdash; Editeur par d&eacute;faut des articles et textes longs</li>
	
	<li>Visio-conférence — développé par Jean-Michel Ramseyer (client flash, serveur de visio) et Frédéric Mossmann (intégration ICONITO)</li>
</ul>

<h2>Traitement des données à caractère personnel </h2>

    <p>La mise en oeuvre du logiciel ICONITO Ecole Numérique relève du texte RU-003 - Délibération n°2006-104 du 27 avril 2006 "portant avis sur le projet d'arrêté présenté par le ministère de l'éducation nationale, de l'enseignement supérieur et de la recherche, et créant un traitement de données à caractère personnel relatif aux espaces numériques de travail (ENT)".</p>
    <p>ICONITO Ecole Numérique a fait l'objet d'une "déclaration normale" auprès de la CNIL sous le numéro <strong>3ji1084798v</strong>.</p>
    
<h2>En cas de probl&egrave;me</h2>

<p>Contactez d'abord la personne qui vous a fourni votre identifiant et votre mot de passe (enseignant ou directeur). Sinon, contactez l'organisme qui vous met à disposition ICONITO, il s'agit souvent de la Mairie.</
<p>Vous pouvez &eacute;galement consulter le guide utilisateur (voir plus haut) ou l'espace d'aide d'ICONITO si celui-ci
a &eacute;t&eacute; activé (ic&ocirc;ne en haut &agrave; droite de la page, pr&egrave;s du bouton de d&eacute;connexion).
</p>

<h2>Contact</h2>

<p>
Vous pouvez contacter l'&eacute;quipe ICONITO par mail &agrave; <a href="javascript:self.location='mailto:info@iconito'+'.fr'">info[at]iconito.fr</a>,
pour toute remarque g&eacute;n&eacute;rale ou suggestion.
</p>

<p>Merci &agrave; vous d'utiliser ICONITO !</p>

<div class=legal>&copy; 2005-2015 <a href="http://www.cap-tic.fr">CAP-TIC</a>. Logiciel sous licence libre, GNU LGPL.</div>

</div>
